<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>I'm event</h1>
    <form action="/events">
        <div>
            <label for="event" class="form-label">event</label>
            <input type="text" id="event" class="form-control" name="event">
        </div>
        <div>
            <label for="date">date</label>
            <input type="date" name="date" id="date">
        </div>
        <button>submit</button>
    </form>
</body>

</html>