/*nav*/
.navbar {
    /* height: 5rem; */
    padding: 0.85rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.nav-link {
    color: #222222 !important;
}

.form-div {

    padding: 1rem;
}

.div-showTasks {
    padding: 1rem;
}

.task-list {
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

li {
    text-decoration: none;
}